.hover-item:hover,
.hover-item:active {
    color: #4f46e5;
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-thickness: 2px;
}

.hover-item1:hover {
    color: #4f46e5;
}

a:active {
    color: #4f46e5;
}

.line1 {
    /* position: absolute; */
    transform: translateY(-50%);
    width: 9vw;
    height: 5px;
    background: #3730a3;
    animation: stretch 10s linear 3s infinite alternate;
    z-index: 2;
}

.line2 {
    /* position: absolute; */
    transform: translateY(-50%);
    width: 9vw;
    height: 5px;
    background: #fbbf24;
    animation: stretch 10s linear 3s infinite alternate;
    z-index: 2;
}